.App {
  height: 100vh;
  overflow: hidden auto;
  display: flex;
  flex-direction: row;
}

.App__left {
  flex: 1 0 30%;
  background-color: #d4d1d1;
  margin-left: 1px solid black;
}

.App__right {
  padding: 5%;
  flex: 1 0 70%;
  vertical-align: middle;
  
}

.App__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #919191;
  cursor: pointer;
}